.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    display: grid;
    padding: 0.8rem 1.6rem;
    place-items: center;
    & + & {
      border-left: 0.1rem solid #ddd;
    }
  }
}
